<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.member.dao.MemberMapper">

	<!-- 회원가입 - spmember_detail -->
	<insert id="insertMember_detail" parameterType="memberVO">
		INSERT INTO spmember_detail(
		 mem_num,
		 name,
		 passwd,
		 phone,
		 email,
		 zipcode,
		 address1,
		 address2
		)
		VALUES(
		 #{mem_num},
		 #{name},
		 #{passwd},
		 #{phone},
		 #{email},
		 #{zipcode},
		 #{address1},
		 #{address2}
		)
	</insert>
	
	<!-- ID를 이용한 회원정보 체크 (ID중복체크) -->	
	                                      <!--    알리아스               반환타입 -->
	<select id="selectCheckMember" parameterType="string" resultType="memberVO">
		SELECT 
		 m.mem_num,
		 m.id,
		 m.auth,
		 d.au_id,
		 d.passwd,
		 m.nick_name,
		 d.email,
		 d.membership_id
		FROM member m LEFT OUTER JOIN member_detail d
		ON m.mem_num = d.mem_num
		WHERE m.id=#{id} <!-- MemberService쪽의 id -->
	</select>

</mapper>