@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
/*----------전체 레이아웃----------*/
*{
	font-family: 'Noto Sans KR', sans-serif;
}
body{
	margin:0 auto;
}
#main{
	width:100%;
	margin:0 auto;
	font-size:10pt;
	font-family:"맑은 고딕";
}
#main_body{
	min-height: 500px;
}
#main_footer{
	clear:both;
	background-color: #f8f8fa;
	margin-top:100px;
}
a:link{
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover{
	text-decoration: none;
	color: #999999;
}
/*----------좌측 메뉴 레이아웃 (Admin, MyPage)----------*/

/*----------페이지 기본 레이아웃----------*/
.page-main{
	width:75%;
	margin:0 auto;
}
.page-one{
	width:600px;
	margin:0 auto;
}
/*----------공통 메시지 및 버튼----------*/

/*----------공통 정렬----------*/
.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}
/*----------상단 메뉴----------*/

div#main_menu ul{
	list-style:none;
}
div#main_menu ul li{
	margin-bottom:5px;
}


/*----------헤더----------*/

#top_left, #top_right{
	height:35px;
}
#top_left{
	float:left;
}
#top_left ul{
	padding:0;
}
#top_right{
	float:right;
}
#top_left li, #top_right li{
	width:60px;
	display:inline-block;
}
#main_nav{
	clear:both;
	text-align:center;
}
.gnb {
	padding: 0;
	margin: 0;
}
.gnb>li {
	display: inline-block;
	padding: 0 18px;
}
.gnb>li>a {
	display: block;
	position: relative;
	font-size: 18px;
	color: black;
	font-weight: bold;
	text-align: center; /* 추가: 가운데 정렬을 위한 텍스트 가운데 정렬 설정 */
}
.gnb>li ul {
	display: none;
	position: absolute;
	z-index: 11;
	margin: 0 auto;
	text-align: left; /* 추가: 하위 메뉴 텍스트 왼쪽 정렬 설정 */

}
.gnb>li ul li {
	float: left;
	
	left: 50%; /* 추가: 가운데 정렬을 위해 왼쪽 위치를 50%로 설정 */
	transform: translateX(-90%); /* 추가: 가운데 정렬을 위해 왼쪽으로 50%만큼 이동 */
}
.gnb>li ul li a {
	display: block;
	padding: 15px 18px;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
}
.gnb>li ul li a:hover, .gnb>li ul li a:focus {
	color: #e4f893;
}
.bg_gnb {
	display: none;
	position: absolute;
	left: 0;
	top: 116px;
	height: 42px;
	background-color: #4c4177;
	background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
	width: 100%;
	z-index: 10;
}
#logo{
	margin:0 10px 20px;
}
.btn4{
  padding: 10px 30px;
  position: relative;
  display:inline-block;
}
.btn4::before {
  content: '';
  position: absolute;
  bottom: -25%;
  left: 0px;
  width: 100%;
  height: 4px;
  background: #351f67;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
} 
.btn4:hover::before,
.has-sub:hover > a::before,
.has-sub > a:focus:before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}


/*----------푸터----------*/

footer{
	margin:0 auto;
	height:250px;
	font-size:12px;
}
.footer-bottom{
	padding-top:20px;
}
.footer-img{
	margin-top:75px;
	float:left;
}
.footer-wrap{
	padding:65px 0 0 200px;
	font-weight:500;
}
.footer-wrap p{
	margin: 5px 0;
}


/*----------공통 등록,수정 폼----------*/
form{
	width:600px;
	margin:0 auto;
	border:1px solid #000;
	padding:10px 10px 30px 10px;
}
form ul li{
	clear:both;
}
form ul li label{
	width:100px;
	float:left;
}
ul{
	list-style:none;
}
input{
	margin-top:4px;
	padding:5px;
}
input[type="text"],input[type="password"],input[type="email"]{
	width:350px;
}
button[type="submit"]{
	height:31px;
}
